<!-- header -->
<div style="padding-top:200px;">
    <h1 style=" font-size: 70px; padding: 0; margin: 0;">Welcome <%- user.username %></h1>
    <p>if you are in this page so everything is working perfectly</p>
</div>

<!-- logout button -->
<a href="/logout">
    <div class="myCard" style="width: 300px; height: 100px;">
        <div class="innerCard">

            <div class="frontSide">

                <p class="title">Logout</p>

            </div>

            <a class="innerCard__a" href="/login">
                <div class="backSide">
                <p class="title">Logout</p>
            </a>
            
            </div>
        </div>
    </div>
</a>