
<!-- title content -->
<h1>Login Panel</h1>
<p>please insert the requiremented data</p>

<!-- register form content -->
<form class="form" method="POST" action="/login">
    <ul class="wrapper">
      
      <li style="--i:4;"><input class="input" type="text" placeholder="User Name" name="username"></li>
      <li style="--i:3;"><input class="input" type="email" placeholder="email" name="email"></li>
      <li style="--i:2;"><input class="input" type="password" placeholder="password" required="" name="password"></li>
      <button style="--i:1;">Login</button>

    </ul>
  </form>

<!-- login buttom -->
  <a href="/register">
    <button class="animated-button">
      <span>Register</span>
      <span></span>
    </button>
</a>

<!-- footer -->
<footer>
  <div class="copyright">&copy; 2023 | Made by Haidar using Node.js & MongoDB.</div>
</footer>
