
<!-- title content -->
<h1>Register Panel</h1>
<p>please insert data to create account</p>

<!-- alerts -->


<!-- register form content -->
<form class="form" method="POST" action="/register">
    <ul class="wrapper">
      
      <li style="--i:5;"><input class="input" type="text" placeholder="User Name" name="username"></li>
      <li style="--i:4;"><input class="input" type="email" placeholder="email" name="email"></li>
      <li style="--i:3;"><input class="input" type="password" placeholder="password"name="password""></li>
      <li style="--i:2;"><input class="input" type="password" placeholder="confirm password" name="repeatPassword"></li>
      <button style="--i:1;">Register</button>

    </ul>
  </form>

<!-- login buttom -->
  <a href="/login">
    <button class="animated-button">
      <span>SignIn</span>
      <span></span>
    </button>
  </a>

<!-- footer -->
<footer>
  <div class="copyright">&copy; 2023 | Made by Haidar using Node.js & MongoDB.</div>
</footer>
